@charset "UTF-8";
* { margin: 0; padding: 0;}


body {
    background-image: url("../images/treesbg.jpg");
    background-repeat: no-repeat;
    background-size: inherit;
}

aside{
	background-color: burlywood;
	float: right;
	margin-right: 10px;
	padding: 15px;
	width: 42%;
}
section{
	align-content: center;
	float: left;
	margin-left: 10px;
	width: 42%;
}
.sectionbg{
    background-color: #E5D6C3;
    padding: 20px;
}





.my-container {
    background-color: #EDEDED;
	margin-left: 40px;
    width: 350px;
	padding: 20px;
    border-radius: 10px;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 15px;
    text-align: center;
}
.my-container-2 {
    background-color: #EDEDED;
    border-radius: 10px;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 12px;
    text-align: left;
	padding: 15px;
}




img {  
	width: 250px;
} 
#title{
    background-color: #128C1F;
    font-size: 10px;
    text-align: center;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    color: #FFFFFF;
    padding: 20px;
    border: 5px solid #0D4A11;
}
#pinkbox{
	background-color: violet;
	padding: 15px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-style: italic;
	font-size: 12px;
	text-align: center;
}



footer{
	background-color:aquamarine;
	position: fixed;
	text-align: center;
	padding: 10px;
	bottom: 0;
	left: 0;
	width:100%;
}